@using System.Globalization
@using OnlinePerfumes.Utility
@model List<OnlinePerfumes.Models.ViewModels.Product.ProductAllViewModel>
<link rel="stylesheet" href="~/css/Search.css" />

@* <!-- Търсачка на началната страница -->
<section class="search-section">
    <h2>Търсете Вашият Парфюм</h2>

    <form method="get" asp-action="Search" class="search-form">
        <input type="text" name="Name" value="@Model.Name" placeholder="Въведете име на парфюм..." class="search-input" />
        <button type="submit" class="search-button">Търси</button>
    </form>
</section> *@

<!-- Резултати от търсене -->
@if (Model != null && Model.Any())
{
    <section class="search-results">
        <h3>Резултати от търсенето</h3>
        <div class="row">
            @foreach (var product in Model)
            {

                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <!-- Ïðîâåðÿâàìå äàëè èìà èçîáðàæåíèå -->
                        @if (!string.IsNullOrEmpty(product.ImagePath))
                        {
                            <img src="@product.ImagePath" class="card-img-top" alt="@product.Name" />
                        }
                        else
                        {
                            <img src="https://via.placeholder.com/250" class="card-img-top" alt="No image available" />
                        }

                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">Aroma: @product.Aroma</p>
                            <p class="card-text">Price: @product.Price.ToString("C", new CultureInfo("bg-BG")) ;</p>
                            @if (User.IsInRole(SD.AdminRole))
                            {
                                <p class="card-text">StockQuantity: @product.StockQuantity</p>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning">Edit</a>
                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                            }

                            <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="btn btn-info">
                                Виж детайли
                            </a>
                        </div>

                    </div>
                </div>

            }
        </div>
    </section>
}
else if (Model != null)
{
    <p>Няма намерени парфюми.</p>

}
   


