@using OnlinePerfumes.Models.ViewModels.Customer
@using OnlinePerfumes.Utility
@model List<CustomerOrderViewModel>

<h2>Поръчки на Клиенти</h2>

<table class="table">
    <thead>
        <tr>
            <th>Поръчка №</th>
            <th>Клиент</th>
            <th>Email</th>
            <th>Дата</th>
            <th>Статус</th>
            <th>Продукти</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.CustomerName</td>
                <td>@order.Email</td>
                <td>@order.OrderDate.ToString("dd/MM/yyyy")</td>
                <td><span class="badge bg-info">@order.Status.ToString()</span></td>
                <td>
                    <ul>
                        @foreach (var product in order.OrderProducts)
                        {
                            <li>@product.ProductName - @product.Aroma (@product.Quantity бр.)</li>
                        }
                    </ul>
                    @if (order.Status != OrderStatus.Потвърдена.ToString() && order.Status != OrderStatus.Отказана.ToString())
                    {
                        <form asp-action="ConfirmOrder" asp-controller="Admin" method="post">
                            <input type="hidden" name="orderId" value="@order.OrderId" />
                            <button type="submit" class="btn btn-success">Потвърдена</button>
                        </form>

                        <form asp-action="CancelOrder" asp-controller="Admin" method="post">
                            <input type="hidden" name="orderId" value="@order.OrderId" />
                            <button type="submit" class="btn btn-danger">Отказана</button>
                        </form>
                    }
                    else if (order.Status == OrderStatus.Отказана.ToString())
                    {
                        <span class="text-danger">❌ Отказана</span>
                    }
                    else{
                        <span class="text-danger">✔ Потвърдена</span>
                    }
                
                </td>
            </tr>
        }
    </tbody>
</table>