@model OnlinePerfumes.Models.ViewModels.Cart.CheckoutViewModel
@{
    ViewData["Title"] = "Потвърждаване на поръчката";
}

<h2>Потвърждаване на поръчката</h2>

@if (Model.CartItems.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Продукт</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Общо</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Product.Price лв.</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Product.Price * item.Quantity) лв.</td>
                </tr>
            }
        </tbody>
    </table>

    <h4>Обща сума: @Model.TotalPrice лв.</h4>

    /*<form asp-action="Checkout" method="post">
        <div class="form-group">
            <label for="shippingAddress">Адрес за доставка:</label>
            <input type="text" class="form-control" id="shippingAddress" name="ShippingAddress" required />
        </div>

        <button type="submit" class="btn btn-success mt-3">Завърши поръчката</button>
    </form>*/
}
else
{
    <p>Вашата количка е празна.</p>
}
